<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1">
    <test name="First Mobile Test">
        <classes>
            <class name="com.bgaray.Tests.NavigationTest"/>
            <class name="com.bgaray.Tests.SignUpTest"/>
            <class name="com.bgaray.Tests.LoginTest"/>
            <class name="com.bgaray.Tests.SwipeTest"/>
        </classes>
    </test>
</suite>